@charset "utf-8";


.navbar {
    min-height: 60px;
}
.navbar-default {
    background-color: #ffffff;
    
    font-family: Poppins-Medium, sans-serif;
    font-size: 15px;
}
.grid-container {
    display: grid;
  }
header {
    background: url(new.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 700px;
    color: white;
    padding-top: 300px;
}

.navbar-brand {
    
    padding: 0 15px;
    height: 60px;
    line-height: 80px;
    padding-left: 100px;
    padding-right: 50px;
}
.navbar-right {
    padding-right: 100px;
}
.nav.navbar-nav li a {
    color: black;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }

a {
    text-decoration: none;
}

.box {
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    /* position: absolute; */
    /* left: 50%;
    top: 50%;
    transform: translate(-50% -50%); */
}

.slide-img{
    height: 450px;
    position: relative;
}

.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.detail-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: calibri;
}
.type{
    display: flex;
    flex-direction: column;
}

.type a {
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}
.type span {
    color: rgba(26,26,26,0.5);
}

.price {
    color: #333333;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: poppins;
    letter-spacing: 0.5px;
}

.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(02,95, 236, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-btn{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: calibri;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.buy-btn:hover{
    color: #FFFFFF;
    background-color: #f15fa3;
    transition: all ease 0.3s;
}
.slide-img:hover .overlay {
    visibility: visible;
    animation:fade 0.5s;

}

.overlay {
    visibility: hidden;
}

@keyframes fade{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
footer {
    background-color: #222;
    color: #b2b2b2;
    font-family: Arial, Helvetica, sans-serif;
}
.row {
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
}
li {
    margin-bottom: 15px;
    
}

a:link{
    color: #b2b2b2;;
}

a:hover{
    color: black;
}